Cipla/CiplaAppClient/Connected Services/CiplaWcfService/CiplaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CiplaWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CiplaWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="MedicineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicineType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>